pkgbase = clementine-qt5-lite-git
	pkgdesc = A modern music player and library organiser, qt5 version, disabled plugins
	pkgver = 1.3.1.r423.gfbc2f78f8
	pkgrel = 1
	url = http://www.clementine-player.org/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = boost
	makedepends = cmake
	makedepends = mesa
	depends = chromaprint
	depends = glew
	depends = gst-plugins-base
	depends = hicolor-icon-theme
	depends = libcdio
	depends = libplist
	depends = protobuf
	depends = qjson
	depends = qt5-base
	optdepends = gst-plugins-good: for use with "Good" plugin libraries
	optdepends = gst-plugins-bad: for use with "Bad" plugin libraries
	optdepends = gst-plugins-ugly: for use with "Ugly" plugin libraries
	optdepends = gst-libav: Libav plugin
	optdepends = gvfs: Various devices support
	provides = clementine
	conflicts = clementine
	conflicts = clementine-git
	replaces = clementine
	replaces = clementine-git
	source = git+https://github.com/clementine-player/Clementine.git#branch=qt5
	sha256sums = SKIP

pkgname = clementine-qt5-lite-git

