pkgbase = image-analyzer
	pkgdesc = Simple Gtk+ application that displays tree structure of disc image created by libMirage
	pkgver = 3.2.0
	pkgrel = 1
	url = http://cdemu.sourceforge.net/about/analyzer/
	arch = x86_64
	arch = i686
	license = GPL
	makedepends = cmake
	makedepends = intltool
	depends = python
	depends = libmirage
	depends = python-matplotlib
	depends = libxml2
	depends = pygobject-devel
	depends = gtk3
	optdepends = gnuplot
	source = http://downloads.sourceforge.net/cdemu/image-analyzer-3.2.0.tar.bz2
	md5sums = 2cb747a9f2fed0e0dabceaecc0ad36aa

pkgname = image-analyzer
