pkgbase = upplay-qt5-git
	pkgdesc = A Qt-based UPnP audio Control point
	pkgver = UPPLAY_1.2.9.r5.ga5a2b2f
	pkgrel = 1
	url = http://www.lesbonscomptes.com/upplay/
	arch = x86_64
	license = GPL2
	makedepends = qt5-script
	depends = libupnpp>=0.15.0
	depends = qt5-webkit
	depends = hicolor-icon-theme
	provides = upplay
	conflicts = upplay
	conflicts = upplay-git
	source = git+https://github.com/medoc92/upplay.git
	md5sums = SKIP

pkgname = upplay-qt5-git

