pkgbase = qiviewer-git
	pkgdesc = Qt image viewer
	pkgver = r23.538d3ad
	pkgrel = 1
	url = https://github.com/samkpo/qiviewer
	arch = i686
	arch = x86_64
	license = GPL2
	depends = qt4
	source = git+https://github.com/samkpo/qiviewer.git
	md5sums = SKIP

pkgname = qiviewer-git

