pkgbase = squeezeplay
	pkgdesc = Desktop version of Squeezebox Controller software supported by Logitech
	pkgver = 7.8.r9704
	pkgrel = 1
	url = https://github.com/ralph-irving/squeezeplay
	arch = i686
	arch = x86_64
	arch = arm
	license = GPL
	license = custom
	makedepends = git
	makedepends = scons
	depends = alsa-lib
	depends = bzip2
	depends = flac
	depends = libmad
	depends = libogg
	depends = lua51
	depends = lua51-expat
	depends = lua51-filesystem
	depends = lua51-socket
	depends = sdl
	depends = sdl_gfx
	depends = sdl_image
	depends = sdl_ttf
	depends = ttf-freefont
	conflicts = luajson
	source = git+https://github.com/ralph-irving/squeezeplay.git
	source = squeezeplay.desktop
	sha1sums = SKIP
	sha1sums = 8d8b30d73e11ab092c2a1b7f7a8dcd474ffc6672

pkgname = squeezeplay

