pkgbase = smbnetfs-git
	pkgdesc = Small C program that mounts Microsoft network neighborhood in single directory, gnome keyring enabled. Git version
	pkgver = r120.2620f7b
	pkgrel = 1
	url = http://smbnetfs.sourceforge.net/
	install = smbnetfs.install
	arch = i686
	arch = x86_64
	license = GPL2
	depends = fuse2
	depends = smbclient
	depends = libgnome-keyring
	provides = smbnetfs
	conflicts = smbnetfs
	conflicts = smbnetfs-git
	options = docs
	backup = etc/smbnetfs/.smb/smb.conf
	backup = etc/smbnetfs/.smb/smbnetfs.conf
	backup = etc/smbnetfs/.smb/smbnetfs.auth
	backup = etc/smbnetfs/.smb/smbnetfs.host
	source = git+https://git.code.sf.net/p/smbnetfs/git
	source = conf-smbnetfs
	source = smbnetfs.service
	md5sums = SKIP
	md5sums = e150c4cd894cc6ade11b94c95cf17ec4
	md5sums = 3a183c876b6de6d90b3f8809cf92fcc3

pkgname = smbnetfs-git

