pkgbase = yarock
	pkgdesc = Qt Modern Music Player with collection browse based on cover art
	pkgver = 1.2.0
	pkgrel = 1
	url = https://launchpad.net/yarock
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = qt5-tools
	makedepends = qt5-x11extras
	makedepends = phonon-qt5
	depends = htmlcxx
	depends = taglib>=1.10
	depends = gcc-libs
	depends = qt5-base
	depends = vlc
	depends = mpv
	provides = yarock
	conflicts = yarock
	conflicts = yarock-qt5
	source = https://launchpad.net/yarock/1.x/1.2.0/+download/Yarock_1.2.0_Sources.tar.gz
	source = phonon.patch
	sha512sums = d33614886694e2d2a363a9e60d32f956a70a153a2c64836d2b41d0d3b85c0e90147a42c3f443f4136c745f4574f4b58f981ce4c74adc8bdb8c6da9297ff256df
	sha512sums = fa1c6ec044862cbdcdd3a4a139829e8bd483bec1111597f598123a36a7f558e82ef57f401947028ee1683b89094c2dd100638657aa4706306c85383f2bf2b74a

pkgname = yarock

