pkgbase = linux-test-project
	pkgdesc = A collection of tools for testing the Linux kernel and related features
	pkgver = 20180118
	pkgrel = 1
	url = http://linux-test-project.github.io/
	arch = i686
	arch = x86_64
	license = GPL2
	depends = acl
	depends = bash
	depends = gawk
	depends = libcap
	depends = libtirpc
	depends = python2
	depends = libaio
	depends = numactl
	source = https://github.com/linux-test-project/ltp/releases/download/20180118/ltp-full-20180118.tar.bz2
	md5sums = 855938b9fc9239d3d7b4eb228da03615

pkgname = linux-test-project

