pkgbase = xf86-video-sisimedia-rkrell-git
	pkgdesc = X11 video driver for SiS 671/771 cards
	pkgver = r39.85a1036
	pkgrel = 1
	url = https://github.com/rkrell/xf86-video-sisimedia
	install = xf86-video-sisimedia.install
	arch = i686
	arch = x86_64
	license = custom
	makedepends = xorg-server-devel
	makedepends = X-ABI-VIDEODRV_VERSION=23
	makedepends = xf86dgaproto
	depends = glibc
	provides = xf86-video-sisimedia
	conflicts = xf86-video-sisimedia
	conflicts = xorg-server<1.19
	conflicts = X-ABI-VIDEODRV_VERSION<23
	conflicts = X-ABI-VIDEODRV_VERSION>=24
	source = git+https://github.com/rkrell/xf86-video-sisimedia.git
	source = COPYING
	source = xf86-video-sisimedia.conf
	md5sums = SKIP
	md5sums = cbbdd887d04deb501076c22917e2030d
	md5sums = ea53ab81de92a5dfa155f0160b960ebb

pkgname = xf86-video-sisimedia-rkrell-git

