pkgbase = cantata-lolix
	pkgdesc = Qt5 client for the music player daemon (MPD), disabled replay-gain and mpd http stream
	pkgver = 2.2.0
	pkgrel = 1
	url = https://github.com/CDrummond/cantata
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = cmake
	makedepends = qt5-tools
	makedepends = ffmpeg
	depends = qt5-svg
	depends = libmtp
	depends = libmusicbrainz5
	depends = taglib-extras
	depends = media-player-info
	depends = libcdio-paranoia
	depends = udisks2
	optdepends = perl-uri: dynamic playlist
	optdepends = mpd: playback
	provides = cantata
	conflicts = cantata
	source = https://github.com/CDrummond/cantata/releases/download/v2.2.0/cantata-2.2.0.tar.bz2
	md5sums = d56ab9f0cebd944c592273022adad80e

pkgname = cantata-lolix

