pkgbase = lolix-manjaro-iso-profiles-remix-git
	pkgdesc = Lolix custom profiles, to use with Manjaro official profiles. No global customizations
	pkgver = r23.6c6ad98
	pkgrel = 1
	url = https://github.com/FabioLolix/iso-profile-custom
	arch = any
	license = GPL
	makedepends = git
	depends = manjaro-iso-profiles-community
	provides = lolix-manjaro-iso-profiles-remix
	conflicts = lolix-manjaro-iso-profiles-remix
	source = lolix-manjaro-iso-profiles-remix-git::git+https://github.com/FabioLolix/iso-profile-custom.git
	md5sums = SKIP

pkgname = lolix-manjaro-iso-profiles-remix-git

