pkgbase = voltra
	pkgdesc = Voltra music player. Organize your own music, discover and buy new music
	pkgver = 2.0
	pkgrel = 1
	url = https://voltra.co
	install = voltra.install
	arch = i386
	arch = x86_64
	license = custom
	provides = voltra
	conflicts = voltra
	source = https://github.com/FabioLolix/PKGBUILD/blob/master/voltra/voltra.desktop
	md5sums = b78149080a5591421561dd713cab6e8b
	source_x86_64 = https://s3.amazonaws.com/download.voltra.co/voltra64.tar.gz
	md5sums_x86_64 = 5ec489e08e730eabe004a34a89a35c90

pkgname = voltra

