*.rpm
*.deb
*.tar*
*.gz
*.zip
*.run
*.whl
*.html
*.AppImage
waf*
MIT
solar2.png
#*/*/*/*
*/pkg
*/src
*/code
*/trunk
Python_module/*/pkg
Python_module/*/src
WIP/*/pkg
WIP/*/src
WIP/*/code
WIP/*/trunk
WIP/*/MIT

*/Clementine
*/git
*/madrigal*
*/openage-git
*/xf86-video-sisimedia
*/squeezeplay
*/twin
*/upplay
*/satori
*/twin-git
*/ltp
*/obsidian*
*/qiviewer
*/corebird*
*/iconpack*
*/theme-obsidian-2/*
*/gource-git
*/qomp
*/gmusicbr*
*/ptxconf*
*/alsaplayer*

Python_module/*/bandcamp-dl

00_AUR_fix/*/pkg
00_AUR_fix/*/src
00_AUR_fix/ion-git/ion*
00_AUR_fix/ion-git/LICENSE
00_AUR_fix/librocket-git/*
00_AUR_fix/*/libav*

00_custom/*/pkg
00_custom/*/src
00_custom/*/qmc2*
00_custom/*/lolix*
00_custom/*/gnome*

WIP/*/LICENSE
WIP/*/squeezeplay
WIP/*/satori
WIP/*/qmc2*
WIP/*/vkmark
WIP/*/isodumper
WIP/*/automatic-ripping-machine*
WIP/*/open*
WIP/*/komorebi*
WIP/*/monoprice22*
WIP/*/bash-insulter*
