*.log
*.rpm
*.deb
*.tar*
*.gz
*.zip
*.run
*.whl
*.AppImage
*.jar
waf*
MIT
s*.png
*.pdf
#*/*/*/*
*/pkg
*/src
*/code
*/trunk

*/Clementine
*/git
*/madrigal*
*/openage-git
*/xf86-video-sisimedia
*/squeezeplay
*/upplay
*/twin-git
*/ltp
*/obsidian*
*/qiviewer
*/corebird*
*/iconpack*
*/theme-obsidian-2/*
*/gource-git
*/qomp
*/gmusicbr*
*/ptxconf*
*/alsaplayer*
*/libbacktrace*
*/kitty*
*/elisa*
*/faience-ng*
*/textosaurus-git
*/phoronix-test-suite-milestone/*
*/phoronix-test-suite-milestone/phoronix-test-suite/*
*/textosaurus/*
*/simple-scan-git/*
*/rclone-git/*

Python_module/*/pkg
Python_module/*/src
Python_module/*/bandcamp-dl

00_AUR_fix/*/pkg
00_AUR_fix/*/src
00_AUR_fix/ion-git/ion*
00_AUR_fix/ion-git/LICENSE
00_AUR_fix/librocket-git/*
00_AUR_fix/*/libav*
00_AUR_fix/*/kitty
00_AUR_fix/*/freeablo*
00_AUR_fix/*/bubble*
00_AUR_fix/*/nyan*
00_AUR_fix/*/viewnior-git
00_AUR_fix/*/sunxi-tools-git
00_AUR_fix/*/libwebp-git

00_custom/*/pkg
00_custom/*/src
00_custom/*/qmc2*
00_custom/*/gnome*
00_custom/*/banshee*
00_custom/htmlcxx
00_custom/mpc-qt
00_custom/logitechmediaserver
00_custom/logitechmediaserver-git
00_custom/gst-plugins-bad/*
00_custom/perl-net-upnp
00_custom/perl-glib-object-introspection
00_custom/perl-musicbrainz-discid
00_custom/perl-webservice-musicbrainz0
00_custom/gmusicbrowser-git


01_settings/*/pkg
01_settings/*/src
01_settings/*/lolix*

WIP/*/pkg
WIP/*/src
WIP/*/code
WIP/*/trunk
WIP/*/MIT
WIP/*/gmame*
WIP/*/fltk
WIP/*/LICENSE
WIP/*/squeezeplay*
WIP/*/qmc2*
WIP/*/vkmark
WIP/*/isodumper*
WIP/*/automatic-ripping-machine*
WIP/*/open*
WIP/*/monoprice22*
WIP/*/bash-insulter*
WIP/*/bluemindo*
WIP/*/cmake*
WIP/*/corebox-git
WIP/*/newbreeze-git
WIP/*/vkmark-git

