*.log
*.rpm
*.deb
*.tar*
*.gz
*.zip
*.run
*.whl
*.AppImage
*.jar
*.tgz
waf*
s*.png
*.pdf
*/pkg
*/src
*/code
*/trunk
*.pkg # extracted packages folder

*/*/src
*/*/pkg

02_AUR_vcs/*/.SRCINFO
squeezeplay.desktop
