pkgbase = librocket-git
	pkgdesc = The HTML/CSS User Interface library
	pkgver = issue.137.r132.g40f43b9
	pkgrel = 1
	epoch = 1
	url = http://librocket.com
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = mesa
	makedepends = git
	depends = boost
	depends = freetype2
	depends = python2
	depends = libgl
	depends = glu
	provides = librocket
	conflicts = librocket
	source = librocket-git::git+https://github.com/libRocket/libRocket.git
	sha256sums = SKIP

pkgname = librocket-git

