pkgbase = nemu
	pkgdesc = ncurses interface for QEMU
	pkgver = 3.5.0
	pkgrel = 1
	url = https://github.com/nemuTUI/nemu
	arch = x86_64
	license = BSD-2-Clause
	makedepends = git
	makedepends = cmake
	depends = qemu
	depends = ncurses
	depends = sqlite
	depends = json-c
	depends = libxml2
	depends = libarchive
	depends = glibc
	depends = sh
	source = git+https://github.com/nemuTUI/nemu.git#tag=v3.5.0
	sha256sums = 109c2017425ab84d6af5455e39634283d0f74a2e33b66b74d719655bd411c802

pkgname = nemu
