pkgbase = libav11
	pkgdesc = Open source audio and video processing tools forked from ffmpeg
	pkgver = 11.10
	pkgrel = 1
	url = http://www.libav.org/
	arch = i686
	arch = x86_64
	license = LGPL
	makedepends = yasm
	depends = alsa-lib
	depends = bzip2
	depends = libtheora
	depends = libvpx
	depends = x264
	depends = xvidcore
	depends = faac
	depends = lame
	depends = opus
	depends = libvorbis
	depends = freetype2
	depends = gnutls
	depends = openssl
	depends = rtmpdump
	provides = libav
	provides = ffmpeg
	conflicts = libav
	conflicts = ffmpeg
	source = http://libav.org/releases/libav-11.10.tar.xz
	md5sums = 00eeea3c716d31522266fd7c3cafb3ea

pkgname = libav11

