pkgbase = cawbird
	pkgdesc = Native Gtk+ Twitter Client
	pkgver = 1.1.0
	pkgrel = 1
	url = https://ibboard.co.uk/cawbird/
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = vala
	makedepends = meson
	depends = gtk3
	depends = sqlite3
	depends = gspell
	depends = gst-plugins-good
	depends = gst-plugins-bad
	depends = gst-libav
	depends = gst-plugin-gtk
	source = cawbird-1.1.0.tar.gz::https://github.com/IBBoard/cawbird/archive/v1.1.0.tar.gz
	sha256sums = c9463219e44cbcb97322c19f2a8ebf64b8f02ecbd6279ae3667ee5e50f75ecc4

pkgname = cawbird

