pkgbase = clementine-lite-git
	pkgdesc = A modern music player and library organiser, disabled plugins
	pkgver = 1.4.0rc1.r351.g1daf43f91.0.g1daf43f91
	pkgrel = 1
	url = http://www.clementine-player.org/
	arch = i686
	arch = x86_64
	arch = aarch64
	license = GPL
	makedepends = git
	makedepends = boost
	makedepends = cmake
	makedepends = mesa
	makedepends = qt5-tools
	makedepends = glu
	depends = qt5-base
	depends = qt5-x11extras
	depends = chromaprint
	depends = taglib
	depends = protobuf
	depends = libcdio
	depends = gst-plugins-base
	depends = fftw
	optdepends = gst-libav: additional codecs
	optdepends = gst-plugins-bad: additional codecs
	optdepends = gst-plugins-good: additional codecs
	optdepends = gst-plugins-ugly: additional codecs
	provides = clementine
	conflicts = clementine
	source = clementine::git+https://github.com/clementine-player/Clementine.git
	sha256sums = SKIP

pkgname = clementine-lite-git

