pkgbase = clementine-lite-git
	pkgdesc = A modern music player and library organiser, disabled plugins
	pkgver = 1.3.1.r366.gf910b2ff0
	pkgrel = 1
	url = http://www.clementine-player.org/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = boost
	makedepends = cmake
	makedepends = mesa
	depends = chromaprint
	depends = gst-plugins-good
	depends = hicolor-icon-theme
	depends = libcdio
	depends = protobuf
	depends = qjson
	depends = qt4
	optdepends = gst-plugins-bad: for use with "Bad" plugin libraries
	optdepends = gst-plugins-ugly: for use with "Ugly" plugin libraries
	optdepends = gst-libav: Libav plugin
	optdepends = gvfs: Various devices support
	optdepends = taglib
	provides = clementine
	conflicts = clementine
	conflicts = clementine-git
	replaces = clementine
	replaces = clementine-git
	source = git+https://github.com/clementine-player/Clementine.git
	sha256sums = SKIP

pkgname = clementine-lite-git

