pkgbase = flaca
	pkgdesc = Specialized audio CD-ripper optimized for track recovery
	pkgver = 3.5.1
	pkgrel = 1
	url = https://github.com/Blobfolio/flaca
	arch = x86_64
	license = WTFPL
	makedepends = git
	makedepends = cargo
	makedepends = clang
	depends = glibc
	depends = gcc-libs
	options = !lto
	source = git+https://github.com/Blobfolio/flaca.git#tag=v3.5.1
	sha256sums = 209962bad4e306382b0c6fe0b5e7305e7569bf8df01a50cd5edccc46f20e0526

pkgname = flaca
