pkgbase = squeezelite
	pkgdesc = Lightweight headless squeezebox emulator
	pkgver = 2.0.0.1518
	pkgrel = 1
	url = https://github.com/ralph-irving/squeezelite
	install = squeezelite.install
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = git
	depends = glibc
	depends = alsa-lib
	depends = faad2
	depends = flac
	depends = libmad
	depends = libvorbis
	depends = mpg123
	depends = libsoxr
	depends = ffmpeg
	depends = libavformat.so
	source = git+https://github.com/ralph-irving/squeezelite.git#commit=ed3c82052db4846e8e0da01c5bf8db130db00dee
	source = squeezelite.service
	source = conffile
	sha256sums = e48908d62113a382c772a705a86f8b3f40e1a34bda23bb2e97c7a2a0759ca627
	sha256sums = 9bffedd1d119e6b8643007c8e3ca674266100fb091e4c1458893a42388d4e90e
	sha256sums = f0753a1cbd0194119226587ff9c12257438674d9b8e0179d22f0d5461ad3a70a

pkgname = squeezelite
