pkgbase = squeezelite
	pkgdesc = Lightweight headless squeezebox emulator
	pkgver = 1.9.2.1166
	pkgrel = 1
	url = https://github.com/ralph-irving/squeezelite
	install = squeezelite.install
	arch = i686
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = GPL3
	depends = alsa-lib
	depends = faad2
	depends = flac
	depends = libmad
	depends = libvorbis
	depends = mpg123
	depends = libsoxr
	depends = ffmpeg
	source = squeezelite-1.9.2.1166-2b508464dce2cbdb2a3089c58df2a6fbc36328c0.tar.gz::https://github.com/ralph-irving/squeezelite/archive/2b508464dce2cbdb2a3089c58df2a6fbc36328c0.tar.gz
	source = service
	source = conffile
	sha256sums = 463cf0ead29d5a361c8b4e33fb21c831a10a2f099ac2eb6e9e58d4416c7bdd31
	sha256sums = 5b39e9754b6bcf06bcaaecab76ebf7c997966160b48692461d3be5d94ee5f004
	sha256sums = f0753a1cbd0194119226587ff9c12257438674d9b8e0179d22f0d5461ad3a70a

pkgname = squeezelite

