pkgbase = qmc2-git
	pkgdesc = Qt 5 based UNIX MAME frontend supporting SDLMAME
	pkgver = mame0191.r96.g25a2a8bd27
	pkgrel = 1
	url = http://qmc2.batcom-it.net/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = rsync
	makedepends = mesa
	depends = qt5-webkit
	depends = qt5-svg
	depends = qt5-multimedia
	depends = phonon-qt5
	depends = sdl
	provides = qmc2
	conflicts = qmc2
	conflicts = qmc2-svn
	source = qmc2-git::git+https://github.com/mamedev/mame.git
	sha256sums = SKIP

pkgname = qmc2-git

