pkgbase = pktriggercord
	pkgdesc = Remote control (tethering) for Pentax DSLR cameras
	pkgver = 0.85.00
	pkgrel = 1
	url = http://pktriggercord.melda.info/
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = LGPL3
	depends = gtk2
	source = pktriggercord-0.85.00.tar.gz::https://github.com/asalamon74/pktriggercord/releases/download/v0.85.00/pkTriggerCord-0.85.00.src.tar.gz
	sha256sums = fc0550f479c95cf37393ed0fdb5d97d5

pkgname = pktriggercord

