pkgbase = voltra
	pkgdesc = Voltra music player
	pkgver = 1.12.2_1
	pkgrel = 1
	url = https://voltra.co
	install = voltra.install
	arch = x86_64
	license = custom
	source = https://s3.amazonaws.com/download.voltra.co/voltra.deb
	md5sums = 19ff7b5a2cda856cc217932bd83bf5b7

pkgname = voltra

