pkgbase = phoronix-test-suite-rc
	pkgdesc = The most comprehensive testing and benchmarking platform available for Linux, milestone version
	pkgver = 7.2.0m1
	pkgrel = 1
	url = http://www.phoronix-test-suite.com/
	install = phoronix-test-suite-rc.install
	arch = any
	license = GPL3
	depends = php
	optdepends = php-gtk
	optdepends = php-gd
	source = http://www.phoronix-test-suite.com/releases/development/phoronix-test-suite-7.2.0m1.tar.gz
	sha256sums = 02e16a9bdf79c49f3f1cd0e8c336a0a0c1bbad17f0abb99a15409ba8f6d12695

pkgname = phoronix-test-suite-rc

