pkgbase = qmc2
	pkgdesc = Qt based UNIX MAME frontend supporting SDLMAME
	pkgver = 0.192
	pkgrel = 1
	url = http://qmc2.batcom-it.net/
	arch = x86_64
	license = GPL
	makedepends = rsync
	depends = qt5-webkit
	depends = qt5-svg
	depends = qt5-multimedia
	depends = sdl2
	depends = minizip
	source = http://downloads.sourceforge.net/project/qmc2/qmc2/0.192/qmc2-0.192.tar.bz2
	source = qmc2-qt5.9.patch
	sha256sums = 63f89a6839121fef5d5381f7b0baae8ca5e401bf5f32f7d36b36c357e85cee87
	sha256sums = 2eadfc85654bd7a3908e6e9d12f509a735d2fb359f299f07f367f1fc9602c7e0

pkgname = qmc2

