pkgbase = gravit-designer-bin
	pkgdesc = A cross-platform, free design tool for the 21st century empowering everyone to design
	pkgver = 3.2.6
	pkgrel = 1
	url = https://designer.io/
	arch = x86_64
	license = unknow
	makedepends = p7zip
	depends = alsa-lib
	depends = libxss
	depends = gtk2
	depends = gconf
	depends = libxtst
	depends = nss
	source = local://gravit-designer-bin-3.2.6.zip
	source = gravit-designer.desktop
	source = gravit-designer.png
	md5sums = d89d94a2f3eaa368e9c78fa6a2838b56
	md5sums = 50b7bfcc88c76370a96ed07b5f2c5ddd
	md5sums = a9c256cb9eb6bc9a280c5dccee2ad9af

pkgname = gravit-designer-bin

