pkgbase = quickhash-gui-bin
	pkgdesc = QuickHash is an open-source Linux GUI that enables hashing of files, text, entire folder trees of files, and physical disks
	pkgver = 2.8.0
	pkgrel = 1
	url = http://quickhash-gui.org/
	arch = i686
	arch = x86_64
	license = GPLv2
	provides = quickhash-gui
	conflicts = quickhash-gui
	conflicts = quickhash-gui-bin
	source = local://QuickHash-Linux-v2.8.0.zip
	md5sums = a4eb70e70c432984a20170b7374d14f4

pkgname = quickhash-gui-bin

