pkgbase = abcde-git
	pkgdesc = Frontend command-line utility that grabs tracks off a CD, encodes them to ogg or mp3 format, and tags them, all in one go
	pkgver = 2.9.3.r3.g8726dfe
	pkgrel = 1
	url = https://abcde.einval.com/
	arch = any
	license = GPL
	makedepends = git
	depends = bash
	depends = cd-discid
	depends = wget
	depends = vorbis-tools
	depends = which
	optdepends = cdparanoia: Paranoia ripping support
	optdepends = flac: FLAC encoding support
	optdepends = glyr: album art support
	optdepends = imagemagick: album art support
	optdepends = lame: MP3 encoding support
	optdepends = opus-tools: Opus encoding support
	optdepends = python-eyed3: ID3 tag support
	optdepends = vorbisgain: Ogg Vorbis normalization support
	provides = abcde
	conflicts = ancde
	backup = etc/abcde.conf
	source = git+https://git.einval.com/git/abcde.git
	source = hostname.patch
	sha256sums = SKIP
	sha256sums = 6b4d8e70dbd34ad269db44fdb9f63eccc448b632cfc98d1b635c3ee6a77362ad

pkgname = abcde-git
