pkgbase = lumina-desktop-utils-git
	pkgdesc = Desktop applications from Lumina project
	pkgver = 1.4.0.r433.gcd407705
	pkgrel = 1
	url = https://github.com/trueos/lumina
	arch = x86_64
	arch = i686
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = BSD
	makedepends = qt5-svg
	makedepends = qt5-tools
	makedepends = qt5-x11extras
	makedepends = qt5-multimedia
	makedepends = poppler-qt5
	makedepends = git
	depends = qt5-base
	conflicts = lumina-desktop
	conflicts = lumina-desktop-git
	source = git+https://github.com/lumina-desktop/lumina
	sha512sums = SKIP

pkgname = lumina-icon-theme-git
	pkgdesc = Icon theme for Lumina desktop applications
	arch = any
	depends = 
	provides = lumina-icon-theme
	conflicts = lumina-icon-theme
	options = !strip

pkgname = lumina-archiver-git
	pkgdesc = Archivier for the lumina desktop environment
	depends = qt5-base
	depends = lumina-icon-theme
	provides = lumina-archiver
	conflicts = lumina-archiver

pkgname = lumina-calculator-git
	pkgdesc = Calculator for the lumina desktop environment
	depends = qt5-base
	depends = lumina-icon-theme
	provides = lumina-calculator
	conflicts = lumina-calculator

pkgname = lumina-fileinfo-git
	pkgdesc = File property manager for the lumina desktop environment
	depends = qt5-base
	depends = qt5-multimedia
	depends = lumina-icon-theme
	provides = lumina-fileinfo
	conflicts = lumina-fileinfo

pkgname = lumina-fm-git
	pkgdesc = File manager for the lumina desktop environment
	depends = qt5-base
	depends = qt5-x11extras
	depends = qt5-multimedia
	depends = lumina-icon-theme
	depends = lumina-open
	depends = lumina-fileinfo
	provides = lumina-fm
	conflicts = lumina-fm

pkgname = lumina-mediaplayer-git
	pkgdesc = Mediaplayer for the lumina desktop environment
	depends = qt5-base
	depends = qt5-x11extras
	depends = qt5-multimedia
	depends = lumina-icon-theme
	provides = lumina-mediaplayer
	conflicts = lumina-mediaplayer

pkgname = lumina-pdf-git
	pkgdesc = PDF viewver for the lumina desktop environment
	depends = qt5-base
	depends = poppler-qt5
	depends = lumina-icon-theme
	provides = lumina-pdf
	conflicts = lumina-pdf

pkgname = lumina-screenshot-git
	pkgdesc = Screenshot utility for the lumina desktop environment
	depends = qt5-base
	depends = qt5-x11extras
	depends = lumina-icon-theme
	provides = lumina-screenshot
	conflicts = lumina-screenshot

pkgname = lumina-textedit-git
	pkgdesc = Text editor for the lumina desktop environment
	depends = qt5-base
	depends = lumina-icon-theme
	provides = lumina-textedit
	conflicts = lumina-textedit

pkgname = lumina-notify-git
	pkgdesc = 
	provides = lumina-notify
	conflicts = lumina-notify

pkgname = lumina-xdg-entry-git
	pkgdesc = 
	provides = lumina-xdg-entry
	conflicts = lumina-xdg-entry

pkgname = lumina-open-git
	pkgdesc = Application launcher for the lumina desktop environment
	provides = lumina-open
	conflicts = lumina-open

