pkgbase = nyan-lang-git
	pkgdesc = A data description language designed for openage
	pkgver = r120.debef45
	pkgrel = 1
	url = https://github.com/SFTtech/nyan
	arch = i686
	arch = x86_64
	license = LGPL3
	makedepends = cmake
	makedepends = git
	depends = gcc-libs
	source = nyan-lang-git::git+https://github.com/SFTtech/nyan
	md5sums = SKIP

pkgname = nyan-lang-git

