pkgbase = mauikit-git
	pkgdesc = Utilities and "templated" controls based on Kirigami and QCC2 that follow the ongoing work on the Maui HIG
	pkgver = 3.1.0.r74.g87ba0523
	pkgrel = 1
	url = https://mauikit.org/
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	groups = maui
	license = LGPL3
	makedepends = git
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = qt6-webengine
	makedepends = appstream
	makedepends = syntax-highlighting
	depends = glibc
	depends = gcc-libs
	depends = qt6-base
	depends = qt6-5compat
	depends = qt6-declarative
	depends = qt6-quickcontrols2
	depends = knotifications
	depends = ki18n
	depends = mauiman-git
	depends = qt6-multimedia
	depends = kirigami
	depends = kcoreaddons
	depends = purpose
	depends = kwindowsystem
	depends = libMauiMan4.so
	provides = libMauiKit4.so
	conflicts = mauikit
	source = git+https://invent.kde.org/kde/mauikit.git
	sha256sums = SKIP

pkgname = mauikit-git
