pkgbase = flare-game
	pkgdesc = Fantasy action RPG using the FLARE engine
	pkgver = 1.11
	pkgrel = 1
	url = http://www.flarerpg.org/
	arch = any
	license = CCPL:cc-by-sa-3.0
	makedepends = cmake
	depends = flare-engine
	options = !strip
	source = flare-game-1.11::https://github.com/flareteam/flare-game/archive/v1.11.tar.gz
	sha256sums = a369c2e7e6950ea2e241fd69f21ca47836667ed5

pkgname = flare-game
