pkgbase = automatic-ripping-machine-git
	pkgdesc = Automatic Ripping Machine (ARM) scripts for CD, DVD and Blu-Ray
	pkgver = v1.4.0.r31.g3b03122
	pkgrel = 1
	url = https://b3n.org/automatic-ripping-machine/
	arch = x86_64
	license = MIT
	makedepends = git
	depends = at
	depends = glyr
	depends = python-pycurl
	depends = python-requests
	depends = python-urllib3
	depends = python-xmltodict
	depends = python-pydvdid
	depends = flac
	depends = imagemagick
	depends = abcde
	depends = handbrake-cli
	depends = libdvdcss
	optdepends = makemkv
	optdepends = makemkv-cli
	optdepends = plex-media-server: Plex support
	optdepends = emby-server: Emby support
	provides = automatic-ripping-machine
	conflicts = automatic-ripping-machine
	source = automatic-ripping-machine-git::git+https://github.com/ahnooie/automatic-ripping-machine.git
	md5sums = SKIP

pkgname = automatic-ripping-machine-git

