pkgbase = lyrionmusicserver-bin
	pkgdesc = Slimserver for Logitech Squeezebox players. This server is also called Logitech Media Server)
	pkgver = 9.0.2
	pkgrel = 1
	url = https://github.com/LMS-Community/slimserver
	install = lyrionmusicserver.install
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-2.0-only
	depends = perl
	depends = zlib
	depends = glibc
	options = !strip
	source = https://downloads.lms-community.org/LyrionMusicServer_v9.0.2/lyrionmusicserver-9.0.2.tgz
	source = lyrionmusicserver-bin.service
	sha256sums = ebe90f37a465830124adc2b2cc127dba065c3604725a3a147ebc37d758cce99f
	sha256sums = f2ea75494d3a24c04189914d0387af7a18359639d8b2ac851c1daf6f731a978c

pkgname = lyrionmusicserver-bin
