pkgbase = lyrionmusicserver-bin
	pkgdesc = Slimserver for Logitech Squeezebox players. This server is also called Logitech Media Server)
	pkgver = 9.0.2
	pkgrel = 1
	url = https://github.com/LMS-Community/slimserver
	install = lyrionmusicserver.install
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-2.0-only
	depends = perl
	depends = zlib
	depends = glibc
	options = !strip
	source = https://downloads.lms-community.org/LyrionMusicServer_v9.0.2/lyrionmusicserver-9.0.2.tgz
	source = lyrionmusicserver-bin.service
	sha256sums = ebe90f37a465830124adc2b2cc127dba065c3604725a3a147ebc37d758cce99f
	sha256sums = 3d65ec7cc57a1bc0d351a377efb2895a6f5cfe7b7b8b1a165e1de0f6af11d1a0

pkgname = lyrionmusicserver-bin
