pkgbase = qscanner
	pkgdesc = Simply tool based on libksane widget to scan images and allows to save to basic graphics format and to pdf (also multiply images to one pdf file)
	pkgver = 0.beta1
	pkgrel = 1
	url = https://www.linux-apps.com/content/show.php/QScanner?content=166204
	arch = x86_64
	depends = qt4
	depends = libksane
	provides = qscanner
	conflicts = qscanner
	source = https://dl.opendesktop.org/api/files/download/id/1466641430/166204-QScanner-b1.tar.gz
	md5sums = a1a13b1efbe81f785492ca956f87f24c

pkgname = qscanner

