pkgbase = libnpupnp
	pkgdesc = C++ base UPnP library, derived from Portable UPnP, a.k.a libupnp
	pkgver = 6.0.5
	pkgrel = 1
	url = https://www.lesbonscomptes.com//upmpdcli/libupnpp-refdoc/libupnpp-ctl.html
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = BSD
	depends = glibc
	depends = gcc-libs
	depends = curl
	depends = expat
	depends = libmicrohttpd
	provides = libnpupnp.so
	source = https://www.lesbonscomptes.com/upmpdcli/downloads/libnpupnp-6.0.5.tar.gz
	sha256sums = 1abb7d51e2b1a62aba01516adbdbf3be59bd32aa87575337785f9337c6f7fadb

pkgname = libnpupnp
