pkgbase = qmultirecord
	pkgdesc = CD, DVD and BD recording frontend for cdrskin. Allows to simultaneously burn (and check) multiple ISO files in multithread mode on several optical drives
	pkgver = 0.2.7
	pkgrel = 3
	url = https://www.linux-apps.com/content/show.php/qmultirecord?content=106254
	arch = i686
	arch = x86_64
	license = GPL2
	depends = libburn
	depends = qt5-base
	depends = hicolor-icon-theme
	provides = qmultirecord
	conflicts = qmultirecord
	source = https://dl.opendesktop.org/api/files/download/id/1466643061/106254-qmultirecord-0.2.7.tar.bz2
	md5sums = 0f8aeff121a1d009c16747f00f88e182

pkgname = qmultirecord

