pkgbase = monoprice22-dkms-git
	pkgdesc = Linux driver for Monoprice 22 aka MP22-HD display/tablet
	pkgver = r20.3e9afc7
	pkgrel = 1
	url = https://github.com/odysseywestra/Monoprice_22_linux_kernel_module
	arch = x86_64
	license = GPL
	makedepends = git
	depends = dkms
	provides = monoprice22
	conflicts = monoprice22
	source = monoprice22-dkms-git::git+https://github.com/odysseywestra/Monoprice_22_linux_kernel_module.git
	source = dkms.conf
	md5sums = SKIP
	md5sums = e38937bfda6da8f69ddf7766161da811

pkgname = monoprice22-dkms-git

