pkgbase = playmymusic
	pkgdesc = Melody is a music player for Pantheon, developed by Artem Anufrij
	pkgver = 1.1.1
	pkgrel = 1
	url = http://anufrij.org/melody/
	arch = x86_64
	license = GPL3
	makedepends = meson
	makedepends = vala
	depends = libgranite.so
	depends = libsoup
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = taglib
	depends = gtk3
	optdepends = gst-plugins-bad: "Bad" plugin libraries
	optdepends = gst-plugins-ugly: "Ugly" plugin libraries
	source = playmymusic-1.1.1.tar.gz::https://github.com/artemanufrij/playmymusic/archive/1.1.1.tar.gz
	sha256sums = 54eb6fcae36da954d2f0ff72eb2af2182f9be15d6e839261d439b72c1d588826

pkgname = playmymusic

