pkgbase = upplay-git
	pkgdesc = A Qt5 based UPnP audio Control point
	pkgver = r478.44435fa
	pkgrel = 1
	url = http://www.lesbonscomptes.com/upplay/
	arch = x86_64
	license = GPL2
	makedepends = qt5-script
	depends = libupnpp>=0.15.0
	depends = qt5-webkit
	depends = hicolor-icon-theme
	provides = upplay
	conflicts = upplay
	conflicts = upplay-git
	source = git+https://@opensourceprojects.eu/git/p/upplay/code
	md5sums = SKIP

pkgname = upplay-git

