pkgbase = lyrionmusicserver
	pkgdesc = Slimserver for Logitech Squeezebox players. This server is also called Logitech Media Server)
	pkgver = 9.1.1
	pkgrel = 1
	url = https://github.com/LMS-Community/slimserver
	install = lyrionmusicserver.install
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-2.0-only
	makedepends = git
	makedepends = rsync
	makedepends = yasm
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = perl
	depends = perl>=5.40
	depends = perl<5.43
	depends = perl-io-socket-ssl
	depends = sh
	depends = zlib
	options = !strip
	source = git+https://github.com/LMS-Community/slimserver.git#tag=9.1.1
	source = git+https://github.com/LMS-Community/slimserver-vendor.git
	source = lyrionmusicserver.service
	sha256sums = eb28fe88c7bb4a5a127b359b4d78e5b9b77301e9afea45874fba95f2cbd3d3a3
	sha256sums = SKIP
	sha256sums = 8d06c69c06bf824c427990de091dec2a738090aa46f0034c392d34ec446f844f

pkgname = lyrionmusicserver
