pkgbase = kitty-git
	pkgdesc = A modern, hackable, featureful, OpenGL based terminal emulator
	pkgver = v0.6.0.r2.g8d94285
	pkgrel = 1
	url = https://github.com/kovidgoyal/kitty
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = pkg-config
	makedepends = python-setuptools
	depends = python
	depends = glew
	depends = glfw-x11
	depends = freetype2
	depends = xorg-xdpyinfo
	depends = xsel
	depends = fontconfig
	depends = libunistring
	depends = libxkbcommon
	depends = libxkbcommon-x11
	provides = kitty
	conflicts = kitty
	conflicts = kitty-git
	source = git+https://github.com/kovidgoyal/kitty.git
	md5sums = SKIP

pkgname = kitty-git

