pkgbase = libav-no-libs
	pkgdesc = Open source audio and video processing tools forked from ffmpeg
	pkgver = 12.1
	pkgrel = 1
	url = http://www.libav.org/
	arch = i686
	arch = x86_64
	license = LGPL
	makedepends = yasm
	depends = alsa-lib
	depends = bzip2
	depends = libtheora
	depends = libvpx
	depends = x264
	depends = xvidcore
	depends = faac
	depends = lame
	depends = opus
	depends = libvorbis
	depends = freetype2
	depends = gnutls
	depends = openssl
	depends = rtmpdump
	provides = libav
	provides = ffmpeg
	conflicts = libav
	conflicts = ffmpeg
	conflicts = libav-no-libs
	conflicts = libav-no-libs-git
	conflicts = libav-git-no-libs
	source = http://libav.org/releases/libav-12.1.tar.xz
	md5sums = b611fd79ebcf90e3d0b8e66c4ea80a17

pkgname = libav-no-libs

