[Desktop Entry]
Name="Github Desktop"
Comment=Simple collaboration from your desktop
Exec="/opt/GithubDesktop/githubdekstop" %U
#Exec=/usr/bin/github-desktop %U
Terminal=false
Type=Application
Categories=Development;
Icon=github
Name[it_IT]=githubdesktop.desktop
