pkgbase = phoronix-test-suite-milestone
	pkgdesc = The most comprehensive testing and benchmarking platform available for Linux, milestone version
	pkgver = 8.0.0m2
	pkgrel = 3
	url = http://www.phoronix-test-suite.com/
	install = phoronix-test-suite-milestone.install
	arch = any
	license = GPL3
	depends = php
	optdepends = php-gd
	optdepends = sqlite3: required when running a Phoromatic server.
	optdepends = gcc-fortran: required for universe-cli test suite
	optdepends = blas: required for universe-cli test suite
	optdepends = lapack: required for universe-cli test suite
	optdepends = portaudio: required for universe-cli test suite
	optdepends = unzip: required for universe-cli test suite
	optdepends = mesa-demos: required for universe-cli test suite
	optdepends = openmpi: required for universe-cli test suite
	provides = phoronix-test-suite
	conflicts = phoronix-test-suite
	conflicts = phoronix-test-suite-milestone
	source = phoronix-test-suite-milestone-8.0.0m2.tar.gz::https://github.com/phoronix-test-suite/phoronix-test-suite/archive/5b69e46c432810e214be22631fa5d2f429566163.tar.gz
	sha256sums = 4cd20c5a173df6ceb93464482b03725f0e258d24b6079a332506b61b7ae64d96

pkgname = phoronix-test-suite-milestone

