[Desktop Entry]
Type=Application
Name=Max Monitoring
GenericName=Max Monitoring
Comment=Max Monitoring tool
Icon=/opt/MaxMonitoring/_environment/MaxMonitoring-icon-144.png
Exec=/opt/MaxMonitoring/MaxMonitoring
Terminal=false
Categories=Utility;
Name[it_IT]=MaxMonitoring.desktop
