pkgbase = cudatext-bin
	pkgdesc = Cross-platform code editor, with syntax highlight for 180+ languages. Has lite interface with tabs. Has JSON config files instead of options-dialog. Supports Python plugins
	pkgver = 1.19.0.0
	pkgrel = 1
	url = https://sourceforge.net/projects/cudatext/
	arch = x86_64
	arch = i686
	arch = armv7h
	license = MPL2.0
	depends = gtk2
	depends = python
	provides = cudatext
	noextract = cudatext-linux-gtk2-amd64-1.19.0.0.tar.xz
	noextract = cudatext-linux-gtk2-i386-1.19.0.0.tar.xz
	noextract = cudatext-linux-gtk2-arm-1.19.0.0.tar.xz
	source = MPL2.0
	source = icon.png
	md5sums = 766150f4f81b0c078c0dfd4484d389ef
	md5sums = 074bd46ca67b959c91f1e14501853577
	source_x86_64 = https://sourceforge.net/projects/cudatext/files/release/Linux/cudatext-linux-gtk2-amd64-1.19.0.0.tar.xz
	md5sums_x86_64 = 9531df768fad341c8d7f68d866ea760a
	source_i686 = https://sourceforge.net/projects/cudatext/files/release/Linux/cudatext-linux-gtk2-i386-1.19.0.0.tar.xz
	md5sums_i686 = 6293dfb0215fb2af2831a6a82b4cf850
	source_armv7h = https://sourceforge.net/projects/cudatext/files/release/Linux-arm/cudatext-linux-gtk2-arm-1.19.0.0.tar.xz
	md5sums_armv7h = d4dbffb7551d17dac300365dee507ac7

pkgname = cudatext-bin

