pkgbase = guitar-git
	pkgdesc = Open source Git GUI Client
	pkgver = 1.2.0.r400.ga1e4055
	pkgrel = 1
	url = https://soramimi.github.io/Guitar/
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = GPL
	makedepends = cmake
	makedepends = qt6-tools
	makedepends = qscintilla-qt6
	makedepends = git
	makedepends = qt6-5compat
	depends = qt6-svg
	depends = git
	depends = file
	provides = guitar
	conflicts = guitar
	source = git+https://github.com/soramimi/Guitar.git
	sha256sums = SKIP

pkgname = guitar-git
