pkgbase = guitar-git
	pkgdesc = Open source Git GUI Client
	pkgver = 1.2.0.r321.g959aad9
	pkgrel = 1
	url = https://soramimi.github.io/Guitar/
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = GPL
	makedepends = cmake
	makedepends = qt5-tools
	makedepends = qscintilla-qt5
	makedepends = git
	depends = qt5-svg
	depends = git
	depends = file
	provides = guitar
	conflicts = guitar
	source = git+https://github.com/soramimi/Guitar.git
	sha256sums = SKIP

pkgname = guitar-git
