pkgbase = handbrake-dev-git
	pkgdesc = Multithreaded video transcoder. Enabled: x265, nvenc, nvdec, qsv, vce, numa, hardened, libdovi. Master branch
	pkgver = 1.11.0.r227.g174246fbe
	pkgrel = 1
	url = https://github.com/HandBrake/HandBrake
	arch = i686
	arch = x86_64
	license = GPL-2.0-only
	makedepends = cargo-c
	makedepends = clang
	makedepends = cmake
	makedepends = git
	makedepends = intltool
	makedepends = llvm
	makedepends = meson
	makedepends = nasm
	makedepends = python
	makedepends = wget
	makedepends = bzip2
	makedepends = glibc
	makedepends = jansson
	makedepends = lame
	makedepends = libass
	makedepends = libdrm
	makedepends = libgcc
	makedepends = libjpeg-turbo
	makedepends = libstdc++
	makedepends = libtheora
	makedepends = libva
	makedepends = libvorbis
	makedepends = libvpx
	makedepends = numactl
	makedepends = opus
	makedepends = speex
	makedepends = x264
	makedepends = libx264.so
	makedepends = xz
	makedepends = zlib
	makedepends = gdk-pixbuf2
	makedepends = glib2
	makedepends = gst-plugins-base
	makedepends = gtk4
	makedepends = hicolor-icon-theme
	makedepends = libxml2
	makedepends = pango
	optdepends = amf-amdgpu-pro: for enabling AMD AMF
	optdepends = cuda: for Nvidia users, enable Nvidia nvdec
	optdepends = intel-media-sdk: for enabling Intel QSV
	optdepends = nvidia-utils: for Nvidia users, enable Nvidia nvenc
	options = !lto
	source = git+https://github.com/HandBrake/HandBrake.git
	sha256sums = SKIP

pkgname = handbrake-dev-git
	pkgdesc = Multithreaded video transcoder
	depends = bzip2
	depends = glibc
	depends = jansson
	depends = lame
	depends = libass
	depends = libdrm
	depends = libgcc
	depends = libjpeg-turbo
	depends = libstdc++
	depends = libtheora
	depends = libva
	depends = libvorbis
	depends = libvpx
	depends = numactl
	depends = opus
	depends = speex
	depends = x264
	depends = libx264.so
	depends = xz
	depends = zlib
	depends = gdk-pixbuf2
	depends = glib2
	depends = gst-plugins-base
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libxml2
	depends = pango
	optdepends = amf-amdgpu-pro: for enabling AMD AMF
	optdepends = cuda: for Nvidia users, enable Nvidia nvdec
	optdepends = intel-media-sdk: for enabling Intel QSV
	optdepends = nvidia-utils: for Nvidia users, enable Nvidia nvenc
	optdepends = gst-plugins-good: for video previews
	optdepends = gst-libav: for video previews
	provides = handbrake
	conflicts = handbrake

pkgname = handbrake-cli-dev-git
	pkgdesc = Multithreaded video transcoder (CLI)
	depends = bzip2
	depends = glibc
	depends = jansson
	depends = lame
	depends = libass
	depends = libdrm
	depends = libgcc
	depends = libjpeg-turbo
	depends = libstdc++
	depends = libtheora
	depends = libva
	depends = libvorbis
	depends = libvpx
	depends = numactl
	depends = opus
	depends = speex
	depends = x264
	depends = libx264.so
	depends = xz
	depends = zlib
	depends = libjpeg-turbo
	provides = handbrake-cli
	conflicts = handbrake-cli
