pkgbase = python-pydvdid
	pkgdesc = A pure Python implementation of the Windows API IDvdInfo2::GetDiscID method, as used by Windows Media Center to compute a 'practically unique' 64-bit CRC for metadata retrieval.
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/sjwood/pydvdid
	arch = any
	license = Apache
	makedepends = python-setuptools
	depends = python
	source = https://files.pythonhosted.org/packages/source/p/pydvdid/pydvdid-1.0.tar.gz
	md5sums = 30af7e9157a9a5125ec482fb95aae634

pkgname = python-pydvdid

