pkgbase = quickhash-gui-bin
	pkgdesc = QuickHash is an open-source Linux GUI that enables hashing of files, text, entire folder trees of files, and physical disks
	pkgver = 2.6.9.2
	pkgrel = 1
	url = http://quickhash-gui.org/
	arch = i686
	arch = x86_64
	license = GPLv2
	provides = quickhash-gui
	conflicts = quickhash-gui
	conflicts = quickhash-gui-bin
	source = https://sourceforge.net/projects/quickhash/files/v2.6.9/Linux/QuickHash-v2.6.9.2-Linux.zip
	md5sums = 1eda4b8e2b260feab80213925b2c1201

pkgname = quickhash-gui-bin

