pkgbase = mono-zeroconf-git
	pkgdesc = A cross platform Zero Configuration Networking library for Mono and .NET.
	pkgver = 0.9.0.r9.g6132666
	pkgrel = 1
	url = http://www.mono-project.com/Mono.Zeroconf
	arch = any
	license = GPL
	makedepends = git
	depends = mono
	depends = avahi
	depends = dbus-sharp
	provides = mono-zeroconf
	conflicts = mono-zeroconf
	source = mono-zeroconf-git::git+https://github.com/arfbtwn/Mono.Zeroconf#branch=feature/dbus-sharp
	md5sums = SKIP

pkgname = mono-zeroconf-git

