pkgbase = squeezelite-git
	pkgdesc = Lightweight headless squeezebox emulator
	pkgver = 2.0.0.1518.r519.ged3c820
	pkgrel = 1
	url = https://github.com/ralph-irving/squeezelite
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = git
	depends = glibc
	depends = alsa-lib
	depends = faad2
	depends = flac
	depends = libmad
	depends = libvorbis
	depends = mpg123
	depends = libsoxr
	depends = ffmpeg
	depends = libavformat.so
	provides = squeezelite
	conflicts = squeezelite
	source = git+https://github.com/ralph-irving/squeezelite.git
	source = squeezelite-rpms::git+https://src.fedoraproject.org/rpms/squeezelite.git
	source = squeezelite.system.service
	source = squeezelite.user.service
	source = squeezelite.sysconfig
	source = conffile
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 411c102fad3d94346bf73cf6e06b6aa0bb7eb9345028c77cdb26fd3914e04740
	sha256sums = 78b1b4b5a911bea17c98948d7a3dada3f0372a26e936b5bd7e2956e3c2d5e2f9
	sha256sums = ad2b29085c77a45b315ee48e8ee0b18b4327e82d2384644cb2c58be7877e005e
	sha256sums = f0753a1cbd0194119226587ff9c12257438674d9b8e0179d22f0d5461ad3a70a

pkgname = squeezelite-git
