pkgbase = squeezelite-git
	pkgdesc = Lightweight headless squeezebox emulator
	pkgver = 2.0.0.1504.r515.g54e3969
	pkgrel = 2
	url = https://github.com/ralph-irving/squeezelite
	install = squeezelite.install
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = git
	depends = glibc
	depends = alsa-lib
	depends = faad2
	depends = flac
	depends = libmad
	depends = libvorbis
	depends = mpg123
	depends = libsoxr
	depends = ffmpeg
	depends = libavformat.so
	provides = squeezelite
	conflicts = squeezelite
	source = git+https://github.com/ralph-irving/squeezelite.git
	source = squeezelite-system.service
	source = squeezelite-user.service
	source = conffile
	sha256sums = SKIP
	sha256sums = b12728904df1bcfdfd77dda8a84e98c642132c0d00ae6c6d3f2133bb30b6523d
	sha256sums = f109c0e6370a7da7c4d4f1d9e6fc1bafd2655b3e715ed8782f357056861a1095
	sha256sums = f0753a1cbd0194119226587ff9c12257438674d9b8e0179d22f0d5461ad3a70a

pkgname = squeezelite-git
