[Unit]
Description=Squeezelite Player
After=network.target sound.target

[Service]
LimitRTPRIO=98
LimitMEMLOCK=infinity
#ControlGroup=cpu:/
EnvironmentFile=-/etc/squeezelite.conf

ExecStart=/usr/bin/squeezelite\
 $OPTIONS $LOG_LEVEL $LOG_FILE $SERVER\
 $OUTPUT_DEV $AUDIO_PARAMS $BUFFER\
 $CODEC $TIMEOUT $EXCLUDE_CODEC\
 $GPIO $LIRC $MAC $MODEL_NAME\
 $PLAYER_NAME $S_PLAYER_NAME\
 $MIXER_DEV $PRIORITY $PID\
 $RATES $PWR_SCRIPT $UPSAMPLING\
 $DELAY $VISUALISER $WAVE $UNMUTE\
 $VOLUME $LINEAR $MAX_RATE

[Install]
WantedBy=default.target
