pkgbase = viewnior-git
	pkgdesc = Simple, fast, elegant and minimalistic image viewer, written in C(GTK+) with a new GtkImageView library. Git Version
	pkgver = 1.6.r17.g3a95e3c
	pkgrel = 1
	url = http://siyanpanayotov.com/project/viewnior
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = gnome-common
	makedepends = intltool
	makedepends = meson
	makedepends = ninja
	depends = exiv2
	depends = gtk2
	depends = desktop-file-utils
	provides = viewnior
	conflicts = viewnior
	source = viewnior-git::git+https://github.com/hellosiyan/Viewnior.git
	md5sums = SKIP

pkgname = viewnior-git

