pkgbase = qmc2
	pkgdesc = Qt 5 based UNIX MAME frontend supporting SDLMAME
	pkgver = 0.191
	pkgrel = 1
	url = http://qmc2.batcom-it.net/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = rsync
	makedepends = mesa
	depends = qt5-webkit
	depends = qt5-svg
	depends = qt5-multimedia
	depends = phonon-qt5
	depends = sdl
	source = https://github.com/mamedev/mame/archive/mame0191.tar.gz
	sha256sums = e1faed5ee39e977d9a4e60e439c4d36d55a476dbe70a3e8fbe6aadb2a63b1e31

pkgname = qmc2

