pkgbase = automatic-ripping-machine
	pkgver = 1.4.0
	pkgrel = 1
	url = https://b3n.org/automatic-ripping-machine/
	arch = x86_64
	license = MIT
	source = https://github.com/ahnooie/automatic-ripping-machine/archive/v1.4.0.tar.gz
	md5sums = ac81961ac1c39ed2f20747adf1ca4c54

pkgname = automatic-ripping-machine

