pkgbase = banshee-git
	pkgdesc = Music management and playback for GNOME (fork by arfbtwn)
	pkgver = 2.9.1.r355.g10da4d618
	pkgrel = 2
	url = https://github.com/arfbtwn/banshee
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = intltool
	makedepends = gnome-doc-utils
	makedepends = gnome-common
	makedepends = git
	depends = libxxf86vm
	depends = gconf-sharp
	depends = gst-plugins-base-libs
	depends = gst-plugins-bad
	depends = gst-plugins-good
	depends = mono-addins
	depends = dbus-sharp-glib
	depends = libsoup
	depends = libsecret
	depends = taglib-sharp
	depends = hicolor-icon-theme
	depends = media-player-info
	depends = gvfs
	depends = gtk-sharp-3
	optdepends = gst-plugins-ugly: Extra media codecs
	optdepends = gst-libav: Extra media codecs
	optdepends = brasero: CD burning
	provides = banshee
	conflicts = banshee
	source = banshee-git::git+https://github.com/arfbtwn/banshee.git
	md5sums = SKIP

pkgname = banshee-git

