pkgbase = libupnpp
	pkgdesc = A C++ wrapper for libupnp - used with upmpdcli or upplay
	pkgver = 0.22.3
	pkgrel = 1
	url = https://www.lesbonscomptes.com//upmpdcli/libupnpp-refdoc/libupnpp-ctl.html
	arch = x86_64
	arch = i686
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = LGPL2.1
	depends = libnpupnp
	depends = expat
	source = http://www.lesbonscomptes.com/upmpdcli/downloads/libupnpp-0.22.3.tar.gz
	sha256sums = a1339f6d2d79309e7077156b8c685aa5e9aa4b6be7f1cb6f8b68d5f4a5588fb8

pkgname = libupnpp
