pkgbase = openage-git
	pkgdesc = A free (as in freedom) clone of the Age of Empires II engine
	pkgver = 0.6.0.r197.g865bd548d
	pkgrel = 1
	url = https://github.com/SFTtech/openage/
	arch = x86_64
	arch = i686
	arch = pentium4
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = cmake
	makedepends = vulkan-headers
	makedepends = eigen3
	makedepends = toml11
	makedepends = python-setuptools
	depends = libepoxy
	depends = opusfile
	depends = ttf-dejavu
	depends = qt6-declarative
	depends = qt6-multimedia
	depends = vulkan-icd-loader
	depends = libpng
	depends = libogg
	depends = nyan-lang
	depends = python-pillow
	depends = python-numpy
	depends = python-toml
	depends = python-mako
	depends = python-pygments
	depends = python-lz4
	depends = cython
	depends = glibc
	depends = libstdc++
	depends = libgcc
	depends = python
	depends = gperftools
	depends = harfbuzz
	depends = fontconfig
	depends = freetype2
	depends = xdg-utils
	depends = zlib
	depends = qt6-base
	depends = libglvnd
	depends = opus
	depends = ncurses
	provides = openage
	conflicts = openage
	source = git+https://github.com/SFTtech/openage.git
	sha256sums = SKIP

pkgname = openage-git
