pkgbase = lgogdownloader-qt-git
	pkgdesc = Open source downloader for GOG.com games, with QT Webengine enabled for solving reCAPTCHA
	pkgver = 3.18.r4.g279b883
	pkgrel = 1
	url = https://github.com/Sude-/lgogdownloader
	arch = x86_64
	arch = i686
	arch = pentium4
	license = WTFPL
	makedepends = git
	makedepends = help2man
	makedepends = cmake
	makedepends = boost
	depends = boost-libs
	depends = jsoncpp
	depends = tinyxml2
	depends = rhash
	depends = tidy
	depends = qt6-webengine
	provides = lgogdownloader
	conflicts = lgogdownloader
	replaces = lgogdownloader-qt5-git
	source = git+https://github.com/Sude-/lgogdownloader.git
	sha256sums = SKIP

pkgname = lgogdownloader-qt-git
