pkgbase = lumina-pdf
	pkgdesc = PDF viewer for the lumina desktop environment
	pkgver = 1.6.0
	pkgrel = 2
	url = https://lumina-desktop.org/
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = BSD
	makedepends = git
	makedepends = qt5-svg
	makedepends = qt5-tools
	depends = qt5-base
	depends = poppler-qt5
	source = git+https://github.com/lumina-desktop/lumina-pdf.git#tag=v1.6.0
	sha512sums = 256d1a32895972b6c250aa6833bba56dfedd3325a5d381a8ebaa9222dd9bbb2e463f74ec31594a5b90bf2252757b13da96681d9008282bf06ad7c07380fee54b

pkgname = lumina-pdf
