pkgbase = opensourcedrive-bin
	pkgdesc = GUI client for Google Drive on linux based on Electron, pre-release
	pkgver = 0.0.1
	pkgrel = 1
	url = https://github.com/liberodark/ODrive
	arch = x86_64
	license = GPL3
	depends = nss
	depends = alsa-lib
	depends = gcc-libs-multilib
	depends = libxss
	depends = gtk2
	depends = libxtst
	depends = gconf
	depends = nodejs
	provides = opensourcedrive
	conflicts = opensourcedrive
	source = https://github.com/liberodark/ODrive/releases/download/0.0.1/odrive-linux-x64.tar.gz
	md5sums = 9018529536dded2d17513548b4411b46

pkgname = opensourcedrive-bin

