pkgbase = gravit-designer
	pkgdesc = Burn images to SD cards & USB drives, safe & easy
	pkgver = 3.1
	pkgrel = 1
	url = https://designer.io/
	arch = x86_64
	license = custom
	depends = gtk2
	depends = dbus
	depends = libxi
	depends = libxcursor
	depends = libxdamage
	depends = libxrandr
	depends = libxcomposite
	depends = libxext
	depends = libxfixes
	depends = libxrender
	depends = libxtst
	depends = gconf
	depends = glib2
	depends = nss
	depends = xz
	depends = fuse2
	optdepends = libnotify: for notifications
	optdepends = speech-dispatcher: for text-to-speech
	source = https://app.designer.io/_downloads/linux/GravitDesigner.zip
	source = gravit-designer.desktop
	md5sums = 8cb9419d14052d45f08767377cf40f4b
	md5sums = 5df15d346d4ae9c725ea4e2f858229cf

pkgname = gravit-designer

