pkgbase = libupnpp-git
	pkgdesc = A C++ wrapper for libupnp - used with upmpdcli or upplay
	pkgver = 0.18.0.r6.gb9bc092
	pkgrel = 2
	url = https://www.lesbonscomptes.com//upmpdcli/libupnpp-refdoc/libupnpp-ctl.html
	arch = x86_64
	arch = i686
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = LGPL2.1
	makedepends = git
	depends = libnpupnp
	depends = expat
	provides = libupnpp
	conflicts = libupnpp
	source = libupnpp::git+https://framagit.org/medoc92/libupnpp.git
	sha256sums = SKIP

pkgname = libupnpp-git

