pkgbase = ion-git
	pkgdesc = The Ion Shell. Compatible with Redox and Linux. (Git version)
	pkgver = 1.0.5.r676.g2a1a507
	pkgrel = 1
	url = https://github.com/redox-os/ion
	install = ion-git.install
	arch = x86_64
	arch = i686
	license = MIT
	makedepends = git
	makedepends = mdbook
	makedepends = rust
	provides = ion
	conflicts = ion
	source = ion-git::git+https://github.com/redox-os/ion.git
	source = MIT::https://raw.githubusercontent.com/redox-os/ion/master/LICENSE
	sha512sums = SKIP
	sha512sums = 373cd0dd73c29aee38cb3bb8046345f19776c8047342fff1a055831d027cba6348a9ba23eb389883837048fe32d31461f66e266bed4a18849dd13ffd67f32ae8

pkgname = ion-git

