pkgbase = lyrionmusicserver-git
	pkgdesc = Slimserver for Logitech Squeezebox players. This server is also called Logitech Media Server, port 9002)
	pkgver = 9.0.2.r305.g35841d4
	pkgrel = 1.2
	url = https://github.com/LMS-Community/slimserver
	install = lyrionmusicserver.install
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-2.0-only
	makedepends = git
	makedepends = rsync
	makedepends = yasm
	makedepends = clang
	depends = perl>=5.40
	depends = perl<=5.42
	depends = glibc
	depends = gcc-libs
	depends = zlib
	options = !strip
	source = git+https://github.com/LMS-Community/slimserver.git
	source = git+https://github.com/LMS-Community/slimserver-vendor.git
	source = lyrionmusicserver-git.service
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 0aca8904d179cdf1ec142173d9822cde5fe52cab597604eed9bee46de8f0a7ea

pkgname = lyrionmusicserver-git
