pkgbase = lyrionmusicserver-git
	pkgdesc = Slimserver for Logitech Squeezebox players. This server is also called Logitech Media Server, port 9002)
	pkgver = 9.0.2.r359.g0046ebe
	pkgrel = 1
	url = https://github.com/LMS-Community/slimserver
	install = lyrionmusicserver.install
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-2.0-only
	makedepends = git
	makedepends = rsync
	makedepends = yasm
	makedepends = clang
	makedepends = perl-xs-parse-keyword
	depends = perl
	depends = glibc
	depends = gcc-libs
	depends = zlib
	options = !strip
	source = git+https://github.com/LMS-Community/slimserver.git
	source = git+https://github.com/LMS-Community/slimserver-vendor.git
	source = lyrionmusicserver-git.service
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = c51f9801beeafddb13f8479182797d4f9b21d17f891e84fd8925bdb27b98badd

pkgname = lyrionmusicserver-git
