pkgbase = qmc2-svn
	pkgdesc = Qt 5 based UNIX MAME frontend supporting SDLMAME
	pkgver = 0.188.8093
	pkgrel = 1
	url = http://qmc2.batcom-it.net/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = rsync
	makedepends = mesa
	depends = qt5-webkit
	depends = qt5-svg
	depends = qt5-multimedia
	depends = phonon-qt5
	depends = sdl
	provides = qmc2
	conflicts = qmc2
	conflicts = qmc2-svn
	source = qmc2::svn://svn.code.sf.net/p/qmc2/code/trunk
	sha256sums = SKIP

pkgname = qmc2-svn

