pkgbase = gitg
	pkgdesc = A GIT repository viewer based on GTK+
	pkgver = 3.23.0
	pkgrel = 1
	url = https://git.gnome.org/browse/gitg/
	arch = i686
	arch = x86_64
	groups = gnome-extra
	license = GPL
	makedepends = intltool
	makedepends = vala
	makedepends = gobject-introspection
	makedepends = gnome-common
	makedepends = glade
	makedepends = git
	depends = gtksourceview3
	depends = git
	depends = desktop-file-utils
	depends = libgit2-glib
	depends = libgee
	depends = webkit2gtk
	depends = libpeas
	depends = gtkspell3
	depends = python-gobject
	source = git://git.gnome.org/gitg#tag=v3.23.0
	sha256sums = SKIP

pkgname = gitg

