pkgbase = guayadeque-git
	pkgdesc = Lightweight music player
	pkgver = 0.4.7.r6.gd5246757
	pkgrel = 3
	url = https://github.com/anonbeat/guayadeque
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = git
	depends = wxsqlite3
	depends = wxwidgets-gtk3
	depends = taglib
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = jsoncpp
	optdepends = gst-libav: additional codecs
	optdepends = gst-plugins-bad: additional codecs
	optdepends = gst-plugins-ugly: additional codecs
	provides = guayadeque
	conflicts = guayadeque
	source = git+https://github.com/anonbeat/guayadeque.git
	source = guayadeque-wxWidgets-3.2.patch::https://github.com/sluedecke/guayadeque/commit/a9ecb9d8bf785281ed8ccf292cccf3525ffeb457.patch
	source = guayadeque-taglib2.patch::https://github.com/openmonk/guayadeque/pull/5/commits/20315f28a6003287067e3da893af0499494a061d.patch
	sha512sums = SKIP
	sha512sums = 05cfaca64fa27e901c7b874c0878bd8726fcbcd2d5a38edd67ddfe836266853aeaaf6ed26855e627d5327141e8667403acd56fadd2f6268a7472e4f21421072a
	sha512sums = 8d6e1d7949bdb4efaf1a9e1c20c0f6967fd6fa492cd4717dc25b7750e36de88d79bd1adada2de3e41d6f28856d3308ff2ce797e09db775a65693ec09b6c7549b

pkgname = guayadeque-git
