pkgbase = lgogdownloader
	pkgdesc = Open source downloader for GOG.com games, uses the GOG.com API
	pkgver = 3.18
	pkgrel = 1
	url = https://github.com/Sude-/lgogdownloader
	arch = x86_64
	arch = i686
	arch = pentium4
	license = WTFPL
	makedepends = help2man
	makedepends = cmake
	makedepends = boost
	depends = boost-libs
	depends = jsoncpp
	depends = tinyxml2
	depends = rhash
	depends = tidy
	depends = glibc
	depends = gcc-libs
	depends = curl
	depends = libboost_filesystem.so
	source = https://github.com/Sude-/lgogdownloader/releases/download/v3.18/lgogdownloader-3.18.tar.gz
	sha256sums = 1974f09cb0e0cdfed536937335488548addd92e5c654f4229ac22594a22f8ae0

pkgname = lgogdownloader
