pkgbase = lgogdownloader
	pkgdesc = Open source downloader for GOG.com games, uses the GOG.com API
	pkgver = 3.13
	pkgrel = 1
	url = https://sites.google.com/site/gogdownloader/
	arch = x86_64
	arch = i686
	arch = pentium4
	license = custom:WTFPL
	makedepends = help2man
	makedepends = cmake
	makedepends = boost
	depends = boost-libs
	depends = jsoncpp
	depends = tinyxml2
	depends = rhash
	depends = tidy
	depends = glibc
	depends = gcc-libs
	depends = curl
	depends = libboost_filesystem.so
	source = https://github.com/Sude-/lgogdownloader/releases/download/v3.13/lgogdownloader-3.13.tar.gz
	sha256sums = e1bd9abd5955ad6a6d083674021cd9421d03473ce90d6e6a1a497f71c05d1fd0

pkgname = lgogdownloader
