pkgbase = elisa-git
	pkgdesc = A simple music player for KDE aiming to provide a nice experience for its users
	pkgver = 0.4.0.r53.gbce759c
	pkgrel = 1
	url = https://community.kde.org/Elisa
	arch = i686
	arch = x86_64
	license = GPL3
	license = custom:Qt Company GPL Exception 1.0
	makedepends = git
	makedepends = python
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = qt5-quickcontrols
	depends = qt5-quickcontrols2
	depends = kcmutils
	optdepends = baloo
	provides = elisa
	conflicts = elisa
	source = git://anongit.kde.org/elisa.git
	md5sums = SKIP

pkgname = elisa-git

